<section class="content innerwidth">
<section class="survey">
<div class="container">
  <h1>Current Surveys</h1>
  <% @surveys.each do |survey| %>
  <div id="surveys-display">
    <p>
      <a href="/survey/<%=survey.id%>"><%=survey.title%></a>
      <span class="author"> by <%=survey.creator.name%></span>
    </p>
    <ul>
      <li><a class="link" href="/survey/<%=survey.id%>">Take Survey</a></li>
      <li><a class="link" href="/survey/<%=survey.id%>/responses">View Responses</a></li>
    </ul>
  </div>
  <%end%>
</div>
</section>
</section>
      



