<section class="content innerwidth">
<section class="survey">
<form id="take-survey" class="survey" action="/survey/take" method="post">
  <input type="hidden" value="<%= @survey.id %>" name="survey_id"/>
  <h1 class="title"><%=h @survey.title%>
    <span class="small"> by <%= @survey.creator.name%></span>
  </h1>
  <h3 class="description"><%=h @survey.description%></h3>
  <% @survey.questions.each do |question| %>
  <section>
    <p class="question-text"><%= question.text %></p>
    <% question.answer_choices.each do |option| %>
      <div class="answer-box">
      <span class="answer-text">
      <input type="radio" name="answers[<%=question.id%>]" value="<%=option.id%>">
      <%= option.text %></span>
      </div>
    <% end %>
  </section>
  <% end %>
  <input class="button" type="submit" value="Complete Survey"/>
  </form>
</div>
</section>
</section>


