<form id="take-survey" action="/survey/take" method="post">
  <input type="hidden" value="<%= @survey.id %>" name="survey_id"/>
  <% @survey.questions.each do |question| %>
    <p class="question-text"><%= question.text %></p>
    <% question.answer_choices.each do |option| %>
      <span class="answer-text">
      <input type="radio" name="answers[<%=question.id%>]" value="<%=option.id%>">
      <%= option.text %></span>
    <% end %>
  <% end %>
  <input class="button" type="submit" value="Complete Survey"/>
  </form>
</div>


