<div class="container">

  <h1> SURVEYS </h1>
  <%@surveys.each do |survey| %>
  <div id="surveys-display">
      <p><a href="/survey/<%=survey.id%>/individual"><%=survey.title%></a><span class="author"> by <%=survey.user.name%></span>
        <a href="/survey/<%=survey.id%>/individual"><%=survey.title%></a>
        <span class="small">by</span> <%=survey.user.name%>
        <span class="link"><a href="/survey/<%=survey.id%>"> Take this survey</a></span>
        <span>| <a href="/survey/<%=survey.id%>/results">View Results</a></span>
      </p>
  </div>
  <%end%>

   <!-- div container end -->

      



