<div class="container">

  <h1> SURVEYS </h1><br>

  <ul id="surveys-display">
  <%@surveys.each do |survey| %>

  <li class="survey-item">
    <div class="xxx">
      <p class="title"><%=survey.title%></p>
      <p class="author">by <%=survey.user.name%></p>
    </div>
    <p class="description"><%=survey.description%></p>
  </li>

  <%end%>
  </ul>
</div>

<li><a href="surveys/<%= survey.id %>"><%= survey.name %></a></li>

<% end %>

