<div class="container">
  <%if @error%>
    <h3>404!</h3>
    <p> Survey does not exist!</p>
  <%else%>
    <p class="header">Survey results of:</p>
    <h1 class="title"><%=@survey.title%></h1>
    <p class="header">Survey Description:<p>
    <p class="description"><%=@survey.description%></p>
    <p class="header">Questions:</p>
    <%@survey.questions.each_with_index do |question|%>
      <p class="question-text"><%= question.text %></p>
      <% question.answer_choices.each do |choice| %>
        <p class="answer-text"><%= choice.responses.count %>: <%= choice.text %></p>
      <% end %>
    <% end %>
  <%end%>
</div>
