


<form action="/survey/take" method="post">
    <input type="hidden" value="<%= @survey.id %>" name="survey_id"/>
  <% @survey.questions.each do |question| %>

    <p><%= question.text %></p>
    <% question.answer_choices.each do |option| %>
      <input type="radio" name="answers[<%=question.id%>]" value="<%=option.id%>"><%= option.text %><br>
    <% end %>
  <% end %>
  <input type="submit" value="Complete Survey"/>
  </form>
</div>


<!-- {"survey_id"=>"1", "option"=>{"1"=>"1", "2"=>"3"}} -->

<!--
create_table :responses do |t|
      t.belongs_to :question
      t.belongs_to :user
      t.belongs_to :answer_choice
 -->













<!-- <form id="submit-option-form" action='/survey/create/answer_choices' method="POST">


    <div id="inputs">
      <input class='option-field' type='text' name='answer1'>
    </div>

    <button class="add-option" type="button">Add another Option</button>

    <button class="remove-last-option" type="button">Remove your last Option</button>

    <input type="submit" value="Submit" />

  </form> -->


