<% if !current_user %>
  <div class="header-box">
    <h1 class="home inner-width">&ldquo;Surveyz forever, surveyz free, surveyz forever you and me&rdquo;</h1>
  </div>
<% end %>
<div id="forms">
    <%= erb :"user_views/_signin_form" %>
    <%= erb :"user_views/_signup_form" %>
    <%= erb :"user_views/_guest_form" %>
</div>
<div class="close-button-wrapper">
  <button class="close hidden" type="button">x</button>
</div>
<section id="content" class="inner-width">
  <div class="fourth left">
    <h2>Top Creators</h2>
    <ul>
    <% top_creators.each_pair do |creator, count| %>
      <li class="item">
        <a href="/user/<%= creator.id %>/surveys"><%= creator.name %></a>
        <span class="highlight"><%= count %></span>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="two-fourth">
    <h2>Top Surveys</h2>
    <% top_surveys.each_pair do |survey, count| %>
    <ul>
      <li class="item">
        <a href="/survey/<%= survey.id %>"><%= survey.title %></a>
        <span class="highlight"><%= count %></span>
      </li>
    </ul>
    <% end %>
  </div>
  <div class="fourth right"></div>
</section>


