<div id="forms">
    <%= erb :"user_views/_signin_form" %>
    <%= erb :"user_views/_signup_form" %>
    <%= erb :"user_views/_guest_form" %>
</div>
<div class="close-button-wrapper">
  <button class="close hidden" type="button">x</button>
</div>
<section id="content" class="inner-width grid-4">
  <div class="column">
    <h2>Top Creators</h2>
    <ul>
    <% top_creators.each_pair do |creator, count| %>
      <li class="item">
        <a href="/user/<%= creator.id %>/surveys"><%= creator.name %></a>
        <span class="highlight"><%= count %></span>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="column span-2">
    <h2>On Tap</h2>
    <% top_surveys.each_pair do |survey, count| %>
    <ul class="surveys">
      <li class="item">
        <p>
          <a class="truncate" href="/survey/<%= survey.id %>"><%= survey.title %></a>
          <span class="highlight"><%= count %></span>
        </p>
      </li>
    </ul>
    <% end %>
  </div>
  <div class="column">
    <h2>Top Creators</h2>
    <ul>
    <% top_creators.each_pair do |creator, count| %>
      <li class="item">
        <a href="/user/<%= creator.id %>/surveys"><%= creator.name %></a>
        <span class="highlight"><%= count %></span>
      </li>
    <% end %>
    </ul>
  </div>
  </div>
</section>


